.features {
  text-align: left;
  list-style: none;
  border: 1px solid transparent;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.features-item {
  @media (min-width: $tablet) {
    width: 33.333333%;
  }
}

.features__header {
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}

.features__text {
  margin-top: 14px;
  margin-bottom: 28px;
}
