.gallery {
  @include masterfont;

  @media (min-width: $tablet) {
    padding-left: $sidespace;
    padding-right: $sidespace;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.gallery__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 37px;
  margin-bottom: 28px;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 26px;
    margin-top: 75px;
    margin-bottom: 30px;
  }
}

.gallery__text {
  font-size: 14px;
  line-height: 24px;
  margin-left: 7.5%;
  margin-right: 7.5%;

  @media (min-width: $tablet) {
    margin-left: 16%;
    margin-right: 16%;
  }

  @media (min-width: $desktop) {
    margin-left: 32%;
    margin-right: 32%;
  }
}

.gallery__list {
  @include ulreset;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
  }
}

.gallery__item {
  position: relative;

  @media (max-width: 767px) {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #dddddd;
      margin-left: auto;
      margin-right: auto;
      margin-top: 26px;
      margin-bottom: 22px;
    }
  }

  @media (min-width: $tablet) {
    width: 50%;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop) {
    width: 33.333333%;
  }
}

.gallery__link {
  @media (min-width: $tablet) {
    width: 100%;
  }
}

.gallery__box {
  @media (min-width: $tablet) {
    margin-right: auto;
  }

  @media (min-width: $desktop) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
  }
}

.gallery__item:first-child {
  @media (min-width: $tablet) {
    width: 100%;
  }
}

.gallery__img {
  vertical-align: bottom;
}

.gallery__img-header {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}

.gallery__img-author {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.gallery__likes {
  text-align: left;

  @media (min-width: $tablet) {
    width: 85px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ffffff;
  }
}
