.hotel-search {
  @include masterfont;
}

.hotel-search__header {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotel-search__text {
  padding-left: 10px;
  padding-right: 10px;
}

.hotel-search__search-btn {
  margin: 40px auto;
  width: 280px;
  height: 58px;
}
