.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  order: -1;

  @media (min-width: $tablet) {
    order: inherit;
  }
}

.main-nav__logo-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav__toggle-btn {
  margin-left: auto;
  padding: 0;
  width: 56px;
  height: 56px;
  font-size: 0;
  background-color: #ffffff;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;

  @media (min-width: $tablet) {
    display: none;
  }
}
