.page-footer {
  @include masterfont;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.page-footer__hashtag {
  margin-top: 28px;

  @media (min-width: $tablet) {
    margin-left: $sidespace;
    margin-top: 48px;
  }

  @media (min-width: $desktop) {
    margin-left: $side-space-desktop;
    margin-top: 40px;
  }
}

.page-footer__hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.page-footer__copyright {
  @media (min-width: $tablet) {
    margin-right: $sidespace;
    margin-top: 32px;
  }

  @media (min-width: $desktop) {
    margin-right: $side-space-desktop;
  }
}

.page-footer__copyright a {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.page-footer__social {
  margin: 38px auto;

  @media (min-width: $desktop) {
    margin-top: 30px;
  }
}
