.social__link {
  display: inline-block;
  width: 46px;
  height: 48px;
  font-size: 0;
  line-height: 48px;
  background-color: $mastercolor;
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 2px;
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
}

.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");

  @media (min-width: $tablet) {
    margin-right: 18px;
  }
}
