$mastercolor: #81b3d2;

$menubgcolor: $mastercolor;
$menuborderbottomcolor: #6790a9;
$menubordertopcolor: #9bc3dc;

$formbgnd: #f2f2f2;

$desktop: 1200px;
$tablet: 768px;
$mobile: 320px;

$sidespace: 60px;
$side-space-desktop: 10%;
